body, html{
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #9114b0, #e6e04b);
    color: #fff1f3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.crystal{
    width: 65%;
    
}

.crystal:hover{
    cursor: pointer;
}

#crystalThree{
    width: 45%;
    
}

#crystalFour{
    width: 52%;
    
}


li {
    padding-left: 1.28571429em;
    text-indent: -1.28571429em;
    margin-bottom: 10px;
}

.mr-7{
    margin-right: 10%;
}

.ml-7{
    margin-left: 10%;
}

.winsHeader{
    background-color: #00800099 !important;
    border-bottom: 2px #ffffff solid;
    border-radius: 3px;
}

.losesHeader {
    background-color: #ff000099 !important;
    border-bottom: 2px #ffffff solid;
    border-radius: 3px;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}

button:hover{
    transform: scale(1.1);
}

button:focus {
    outline:0;
}

button:active {
    transform: translateY(4px);
}

.resultWin{
    background-color: #00800099 !important;
    border-radius: 3px;
    display: none;
}

.resultLose{
    background-color: #ff000099 !important;
    border-radius: 3px;
    display: none;

}

.instReveal{
    display: none;
}

.instruct:hover{
    cursor: pointer;
}
