body, html{
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #9114b0, rgb(230, 224, 75));
    color: whitesmoke;

}
.crystal{
    width: 65%;
}

.crystal:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#crystalThree{
    width: 45%;
}

#crystalFour{
    width: 52%;
}


li {
    padding-left: 1.28571429em;
    text-indent: -1.28571429em;
    margin-bottom: 10px;
}

.mr-7{
    margin-right: 10%;
}

.ml-7{
    margin-left: 10%;
}

.winsHeader, .losesHeader{
    border-bottom: 2px white solid;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}